.container__menu {
    display: none;
    gap: 5px;
    position: absolute;
    top: -24px;
    right: 0;

    &:hover {
        display: flex;
    }
    padding-bottom: 16px;
    padding-left: 40px;
}

.menu__button {
    height: 36px;
    background: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;

    font-size: 12px;
    // line-height: 1;
    // line-height: 12px;
    // text-align: center;
    font-weight: 400;
    width: 18px;
    height: 18px;
    justify-content: center;
    align-items: center;
    padding: 0;

    &:hover {
        background: #0056b3;
        display: block;
        display: flex;
    }

    &--red {
        background: #c72626;
    }

    &--red:hover {
        background: #741414;
    }
}


.container {
    margin-top: 6px;
    // display: flex;
    position: relative;
    // justify-content: space-between;
    // align-items: center;
    min-height: 36px;
    width: 100%;
}

.input {
    padding: 8px 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
    width: 100%;

    min-width: 100%;
    min-height: 35px;

    height: 36px;

    &:focus {
        outline: none;
        border-color: #007bff;
    }

    &:focus~.container__menu {
        display: flex;
    }

    &:hover~.container__menu {
        display: flex;
    }

    +button {
        position: absolute;
        right: 0;
        top: 0;
        height: 36px;
        display: none;
        padding: 10px 16px;
        background: #007bff;
        color: white;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        font-size: 14px;


        // height: 30px;
        // width: 30px;
        width: 35px;
        height: 35px;
        justify-content: center;
        align-items: center;
        padding: 0;

        &:hover {
            background: #0056b3;
            display: block;
            display: flex;

        }
    }

    &:hover+button {
        color: green;
        display: inline-block;
    }

    &:hover~.btnup {
        color: green;
        display: inline-block;
    }
}



// .inputs-list {
//   display: flex;
//   flex-direction: column;
//   gap: 10px;

//   input {
//     padding: 8px 12px;
//     border: 1px solid #ccc;
//     border-radius: 4px;
//     font-size: 14px;

//     &:focus {
//       outline: none;
//       border-color: #007bff;
//     }
//   }
// }