.container {
    margin-top: 8px;
    // display: flex;
    position: relative;
    // justify-content: space-between;
    // align-items: center;
    min-height: 36px;
    width: 100%;
}

.input {
    padding: 8px 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
    width: 100%;

    height: 36px;

    &:focus {
        outline: none;
        border-color: #007bff;
    }

    +button {
        position: absolute;
        right: 0;
        top: 0;
        height: 36px;
        display: none;
        padding: 10px 16px;
        background: #007bff;
        color: white;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        font-size: 14px;

        &:hover {
            background: #0056b3;
            display: block;
        }
    }

    &:hover+button {
        color: green;
        display: inline-block;
    }
}



// .inputs-list {
//   display: flex;
//   flex-direction: column;
//   gap: 10px;

//   input {
//     padding: 8px 12px;
//     border: 1px solid #ccc;
//     border-radius: 4px;
//     font-size: 14px;

//     &:focus {
//       outline: none;
//       border-color: #007bff;
//     }
//   }
// }