$bg-color: #1e2021;
$bg-column: #181a1b;
$border-column: #3a3e41;
$header-color: rgb(200, 195, 188);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background: #f5f5f5;
  background-color: $bg-color;
  padding: 20px;
}

.app {
  display: flex;
  gap: 20px;
  max-width: 1200px;
  margin: 0 auto;
}

.column {
  flex: 1;
  background: white;
  background-color: $bg-column;
  border: 1px solid #ddd;
  border-color: $border-column;
  border-radius: 8px;
  padding: 20px;
  // height: 36px;
  // flex: 0 0 (100% / 4);
  // flex: 0 0 ((100% - 60px) / 4);
  flex: 0 0 calc((100% - 60px) / 4);

  /* 4 равные колонки [web:21][web:24] */
  box-sizing: border-box;
  overflow-wrap: break-word;
  /* переносить длинное слово [web:12] */
  word-break: break-word;
  /* на всякий случай для старых браузеров [web:12] */


  .header {
    display: flex;
    height: 36px;
    justify-content: space-between;
    align-items: center;
    // margin-bottom: 0px;
    margin-bottom: 16px;
  }

  h2 {
    // margin-bottom: 16px;
    font-size: 18px;
    color: $header-color;
  }

  button {
    padding: 10px 16px;
    background: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;


    &:hover {
      background: #0056b3;
    }



  }
}

.help-button {
  position: fixed;
  text-decoration: none;
  right: 1%;
  bottom: 1%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  font-size: 20px;
  color: #f5f5f5;
  background: #007bff;
  cursor: pointer;

  &:hover {
    background-color: #0056b3;
  }

  &:active {
    background: #ddd;
  }

  &:visited {
    text-decoration: none;
    color: #fff;
  }
}


.markup-list {
  display: flex;
  flex-direction: column;
  gap: 8px;
  font-family: 'Courier New', monospace;
  font-size: 14px;
  color: #555;

  div {
    background: #f9f9f9;
    padding: 8px;
    border-radius: 4px;
    border: 1px solid #eee;
  }
}


// Мобила (примерно до 768px)
@media (max-width: 768px) {
  .app {
    flex-direction: column;
  }

  #buttonColumn {
    order: 1;
  }
  #inputColumn {
    order: 2;
  }
  #markupColumn {
    order: 4;
  }
  #previewColumn {
    order: 3;
  }

  .help-button {
    // display: none;
    position: absolute;
    top: 1%;
    right: 2%;
    width: 30px;
    height: 30px;
  }
}