.steam__paragraph {
    font-family: Arial, Helvetica, Verdana, sans-serif;
    font-size: 13px;
    font-weight: 400;
    color: rgb(150, 150, 150);
    word-wrap: break-word;
    color: var(--darkreader-text-969696, #a69e92);
    margin-top: 16px;
    margin-bottom: 16px;
}

.steam__noparse {
    font-family: Arial, Helvetica, Verdana, sans-serif;
    font-size: 13px;
    font-weight: 400;
    color: rgb(150, 150, 150);
    word-wrap: break-word;
    color: var(--darkreader-text-969696, #a69e92);
}

.steam__text {
    font-family: Arial, Helvetica, Verdana, sans-serif;
    font-size: 13px;
    font-weight: 400;
    color: rgb(150, 150, 150);
    word-wrap: break-word;
    color: var(--darkreader-text-969696, #a69e92);
}


.steam__header-1 {
    font-size: 20px;
    font-weight: normal;
    line-height: 23px;
    margin-bottom: 10px;
    color: #5aa9d6;
    clear: both;
    margin-top: 16px;
    margin-bottom: 12px;
}

.steam__header-2 {
    font-size: 18px;
    font-weight: 400;
    line-height: 21px;
    margin-bottom: 6px;
    margin-top: 8px;
    color: #5aa9d6;
    clear: both;
    margin-top: 10px;
    margin-bottom: 10px;
}

.steam__header-3 {
    font-size: 16px;
    font-weight: 300;
    line-height: 19px;
    margin-bottom: 6px;
    margin-top: 8px;
    color: #5aa9d6;
    clear: both;
    margin-top: 6px;
    margin-bottom: 6px;
}

.steam__code {
    border: 1px solid #535354;
    border-radius: 3px;
    padding: 12px;
    margin: 8px;
    font-size: 11px;
    font-family: Consolas, monospace;
    white-space: pre;
    white-space: pre-wrap;
    overflow-x: auto;
    line-height: 20px;
    color: #969696;
    white-space: pre-wrap;
    /* сохраняет переводы строк, но позволяет переносить */
    word-wrap: break-word;
    /* старый синоним, на всякий случай */
    overflow-wrap: anywhere;
    /* агрессивные переносы длинных слов/URL */

}

.steam__screenshot {
    margin: 6px 0;
    display: block;
    width: 100%;
    aspect-ratio: 16 / 9;
    background-color: #4d3d3d;
    display: flex;
    justify-content: center;
    align-items: center;
    // & span {
    // display: flex;
    // }
}

.steam__pullquote {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 16px;
}

.steam__screenshot-horizontal {
    margin: 6px 0;
    display: flex;
    gap: 5px;

    div {
        display: block;
        width: 100%;
        aspect-ratio: 16 / 9;
        background-color: #4d3d3d;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

.steam__italic {
    font-style: italic;
}

.steam__underline {
    text-decoration: underline;
}

.steam__bold {
    font-family: "Motiva Sans", Arial, Helvetica, sans-serif;
    font-weight: bolder;
    color: rgb(150, 150, 150);
}

.steam__strike {
    text-decoration: line-through;
}

.steam__spoiler {
    padding: 0 8px;
    background-color: black;
    color: black;

    &:hover {
        color: #ffffff;
    }
}


.steam__separator {
    display: block;
    margin-block-start: 0.5em;
    margin-block-end: 0.5em;
    margin-inline-start: auto;
    margin-inline-end: auto;
    unicode-bidi: isolate;
    overflow: hidden;
    border-style: inset;
    border-width: 1px;
    margin-bottom: 10px;
}

.steam__board {
    background-color: #262626;
    // border: 1px solid #4D4B49;
    // padding: 16px;
    font-family: Arial, Helvetica, Verdana, sans-serif;
    font-size: 13px;
    font-weight: 400;
    color: rgb(150, 150, 150);
    word-wrap: break-word;

    background-color: var(--darkreader-background-262626, #1d1f20);
    border-top-color: var(--darkreader-border-4d4b49, #736b5f);
    border-right-color: var(--darkreader-border-4d4b49, #736b5f);
    border-bottom-color: var(--darkreader-border-4d4b49, #736b5f);
    border-left-color: var(--darkreader-border-4d4b49, #736b5f);
    color: var(--darkreader-text-969696, #a69e92);


    font-size: 14px;
    line-height: 20px;
    color: #969696;
    font-family: "Motiva Sans", Arial, Helvetica, sans-serif;
    word-wrap: break-word;
}

.pre {
    white-space: pre-wrap;
    /* сохраняет переводы строк, но позволяет переносить */
    word-wrap: break-word;
    /* старый синоним, на всякий случай */
    overflow-wrap: anywhere;
    /* агрессивные переносы длинных слов/URL */

}