$color-p: #a69e92;
$color-bord: rgb(84, 91, 94);

.steam__underline,
.steam__bold,
.steam__italic,
.steam__pullquote,
.steam__strike,
.steam__spoiler,
.steam__noparse,
.steam__code {
    margin-bottom: 16px;
}

.steam__list {
    margin-left: 20px;
    margin-bottom: 16px;
}

.steam__olist {
    margin-left: 30px;
    margin-bottom: 16px;
}

.steam__paragraph,
.steam__slist {
    font-family: Arial, Helvetica, Verdana, sans-serif;
    font-size: 13px;
    font-weight: 400;
    color: rgb(150, 150, 150);
    word-wrap: break-word;
    color: var(--darkreader-text-969696, #a69e92);
    // margin-top: 16px;
    margin-bottom: 16px;
}

.steam__noparse {
    font-family: Arial, Helvetica, Verdana, sans-serif;
    font-size: 13px;
    font-weight: 400;
    color: rgb(150, 150, 150);
    word-wrap: break-word;
    color: var(--darkreader-text-969696, #a69e92);

}

.steam__text {
    font-family: Arial, Helvetica, Verdana, sans-serif;
    font-size: 13px;
    font-weight: 400;
    color: rgb(150, 150, 150);
    word-wrap: break-word;
    color: var(--darkreader-text-969696, #a69e92);
}


.steam__header-1 {
    font-size: 20px;
    font-weight: normal;
    line-height: 23px;
    margin-bottom: 10px;
    color: #5aa9d6;
    clear: both;
    // margin-top: 16px;
    margin-bottom: 12px;
}

.steam__header-2 {
    font-size: 18px;
    font-weight: 400;
    line-height: 21px;
    margin-bottom: 6px;
    margin-top: 8px;
    color: #5aa9d6;
    clear: both;
    // margin-top: 10px;
    margin-bottom: 10px;
}

.steam__header-3 {
    font-size: 16px;
    font-weight: 300;
    line-height: 19px;
    margin-bottom: 6px;
    margin-top: 8px;
    color: #5aa9d6;
    clear: both;
    // margin-top: 6px;
    margin-bottom: 6px;
}

.steam__code {
    border: 1px solid #535354;
    border-radius: 3px;
    padding: 12px;
    margin-left: 8px;
    font-size: 11px;
    font-family: Consolas, monospace;
    white-space: pre;
    white-space: pre-wrap;
    overflow-x: auto;
    line-height: 20px;
    color: #969696;
    white-space: pre-wrap;
    /* сохраняет переводы строк, но позволяет переносить */
    word-wrap: break-word;
    /* старый синоним, на всякий случай */
    overflow-wrap: anywhere;
    /* агрессивные переносы длинных слов/URL */

}

.steam__achivment-table {
    display: grid;
    color: $color-p;
    font-size: 10px;
    grid-template-columns: 25% 25% 50%;
    /* 3 столбца */
    grid-template-rows: 40px 40px;
    /* 2 строки  */
    border-top: 1px solid $color-bord;
    border-left: 1px solid $color-bord;

    /* отступы между ячейками, по желанию */
    div {
        border-right: 1px solid $color-bord;
        border-bottom: 1px solid $color-bord;
        display: flex;
        padding-left: 4px;
        justify-content: flex-start;
        align-items: center;
    }

    margin-bottom: 16px;
}

$img-text: rgb(166, 158, 146);
$img-bg: rgb(52, 56, 58);
$img-bord: rgb(84, 91, 94);


.steam__paragraph__image {
    display: block;

    // clear: both;
    span {
        display: block;
        float: left;
        width: 50%;
        aspect-ratio: 16 / 9;
        display: flex;
        justify-content: center;
        align-items: center;
        // padding: 3px;
        padding-right: 6px;
        background-clip: content-box;
        margin: 1px 0;
        background-color: $img-bg;
        color: $img-text;
        border-color: $img-bord;
    }

    .footer {
        clear: both;
    }

    margin-bottom: 16px;
    font-family: Arial,
    Helvetica,
    Verdana,
    sans-serif;
    font-size: 13px;
    font-weight: 400;
    color: rgb(150, 150, 150);
    word-wrap: break-word;
    color: var(--darkreader-text-969696, #a69e92);
    // margin-top: 16px;
    margin-bottom: 16px;
}

.steam__paragraph__image--right {
    span {
        float: right;
    }
}


.steam__screenshot {
    // margin: 6px 0;
    display: block;
    width: 100%;
    aspect-ratio: 16 / 9;
    display: flex;
    justify-content: center;
    align-items: center;
    // & span {
    // display: flex;
    // }
    padding: 3px;
    background-clip: content-box;
    margin: 1px 0;
    margin-bottom: 16px;
    background-color: $img-bg;
    color: $img-text;
    border-color: $img-bord;
    padding: 3px;
    border: 1px solid grey;
    background-color: $img-bg;
    color: $img-text;
    border-color: $img-bord;
}

.steam__slist,
.steam__numlist,
.steam__checkbox {
    list-style: none;
    margin-bottom: 16px;
}


.steam__pullquote {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 16px;
}

.steam__screenshot-horizontal {
    display: flex;
    gap: 5px;
    background-clip: content-box;
    padding: 3px;
    border: 1px solid grey;
    border-color: $img-bord;

    div {
        display: block;
        width: 100%;
        aspect-ratio: 16 / 9;
        background-color: #4d3d3d;
        display: flex;
        justify-content: center;
        align-items: center;

        background-color: $img-bg;
        color: $img-text;
        border-color: $img-bord;
    }

    margin: 1px 0;
    margin-bottom: 16px;

}

.steam__screenshot-block {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 5px;

    div {
        width: 100%;
        display: flex;
        gap: 5px;
        background-clip: content-box;
    }

    padding: 3px;
    border: 1px solid grey;

    div span {
        display: block;
        width: 100%;
        aspect-ratio: 16 / 9;
        background-color: #4d3d3d;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: $img-bg;
        color: $img-text;
        border-color: $img-bord;
    }

    margin: 1px 0;
    margin-bottom: 16px;
    border-color: $img-bord;

}

.steam__italic {
    font-style: italic;
}

.steam__underline {
    text-decoration: underline;
}

.steam__bold {
    font-family: "Motiva Sans", Arial, Helvetica, sans-serif;
    font-weight: bolder;
    color: rgb(150, 150, 150);
}

.steam__strike {
    text-decoration: line-through;
}

.steam__spoiler {
    padding: 0 8px;
    background-color: black;
    color: black;

    &:hover {
        color: #ffffff;
    }
}


.steam__separator {
    display: block;
    margin-block-start: 0.5em;
    margin-block-end: 0.5em;
    margin-inline-start: auto;
    margin-inline-end: auto;
    unicode-bidi: isolate;
    overflow: hidden;
    border-style: inset;
    border-width: 1px;
    margin-bottom: 10px;
}

.steam__board {
    // border: 1px solid #4D4B49;
    // padding: 16px;
    font-family: Arial, Helvetica, Verdana, sans-serif;
    font-size: 13px;
    font-weight: 400;
    word-wrap: break-word;
    // background-color: #262626;

    // background-color: var(--darkreader-background-262626, #1d1f20);
    // border-top-color: var(--darkreader-border-4d4b49, #736b5f);
    // border-right-color: var(--darkreader-border-4d4b49, #736b5f);
    // border-bottom-color: var(--darkreader-border-4d4b49, #736b5f);
    // border-left-color: var(--darkreader-border-4d4b49, #736b5f);
    // color: var(--darkreader-text-969696, #a69e92);


    font-size: 14px;
    line-height: 20px;
    color: #969696;
    font-family: "Motiva Sans", Arial, Helvetica, sans-serif;
    word-wrap: break-word;
}

.pre {
    white-space: pre-wrap;
    /* сохраняет переводы строк, но позволяет переносить */
    word-wrap: break-word;
    /* старый синоним, на всякий случай */
    overflow-wrap: anywhere;
    /* агрессивные переносы длинных слов/URL */

}